
/*###################################################################################*/

*
{
	margin				:	0 0 0 0;
	padding				:	0 0 0 0;
}

/*###################################################################################*/

#id_container {

	width 				: 	1000px;
	margin-left 		: 	auto;
	margin-right 		: 	auto;

	background-color	:	red;
}

/*###################################################################################

	Header

###################################################################################*/

header
{
	display				: 	flex;
	justify-content		:	space-between;
}

header nav
{
	margin-top			:	10px;
}

header a
{
	color				:	#DEEBFF;
	color				:	#0065FC;
	text-decoration     : 	none;
	min-width			:	100px;
	padding-left		:	15px;
	padding-right		:	15px;
	padding-top 		:	5px;
	padding-bottom		:	5px;
}

header a:hover
{
	color				:	black;
}

/*###################################################################################

	Recherche

###################################################################################*/

#id_recherche
{
	background-color: rgb(226, 195, 195);
	color: black;
}

/*###################################################################################

	Hebergements

###################################################################################*/

#id_hebergement img 
{
	width					:	20%;

}

/*###################################################################################

	Activités

###################################################################################*/

#id_activites
{
	background-color	:	lightskyblue;
}

#id_activites h1
{

}

/*#################################################################################*/

#id_activites_flex
{
	display					: 	flex;
	background-color		:	blue;

	flex-direction			: 	column;
	flex-wrap   			: 	wrap;

	justify-content			: 	space-between;
	align-content			:	space-between;
	align-items				: 	flex-start;

	height					: 	300px;
	overflow				:	hidden;
}

#id_activites_flex div
{
	background-color		:	lightpink;

	border					: 	5px solid #F2F2F2;
	-border					: 	5px solid grey;
	border-radius			: 	25px;

	overflow				:	hidden;

	width					:	230px;
}

#id_activites_flex div img
{
	-width					: 	100%;
	-height					: 	100%;
}

.img_a100	{	height		:	255px;	width	:	100%;	}
.img_a60	{	height		:	120px;	width	:	100%;	}
.img_a40	{	height		:	80px;	width	:	100%;	}

#id_activites_flex div p
{
	display					:	table-cell;
	vertical-align			: 	middle;

	font-weight				: 	bold;
	height					: 	30px;
	padding-left       		:	15px;
}

/*###################################################################################

	Footer

###################################################################################*/

footer
{
	background-color		: #F2F2F2;
	padding-top 			: 20px;
	padding-bottom			: 20px;
}

footer table
{
	width				:	90%;
	margin-left 		: 	auto;
	margin-right 		: 	auto;
}

footer table td
{
	width				:	33%;
	vertical-align		: 	top;	
}

footer p
{
	font-weight			: 	bold;
}

footer ul
{
	list-style-type		: 	none;
}

footer li
{
	margin-top 			:	10px;
}

footer a
{
	color				:	black;
	text-decoration     : 	none;

	min-width			:	200px;
	padding-right		:	20px;
	padding-top 		:	10px;
	padding-bottom		:	10px;
}

footer a:hover
{
	color				:	blue;
}

/*###################################################################################*/
