
/*###################################################################################*/

*
{
	margin				:	0 0 0 0;
	padding				:	0 0 0 0;
}

/*###################################################################################*/

#id_container {

	width 				: 	1000px;
	margin-left 		: 	auto;
	margin-right 		: 	auto;

	background-color	:	white
}

/*###################################################################################

	Header

###################################################################################*/


  body
{
	font-family: "Trouvez votre hébergement pour des vacances de rêve", serif;
} 

header
{
	display				: 	flex;
	justify-content		:	space-between;
	
}

header nav
{
	margin-top			:	10px;
	border-top			: blue;
}

header a
{
	color				:	#DEEBFF;
	color				:	#0065FC;
	border-top			: 	#0065FC;
	text-decoration		: 	none;
	min-width			:	100px;
	padding-left		:	15px;
	padding-right		:	15px;
	padding-top 		:	5px;
	padding-bottom		:	5px;
}


header a:hover
{
	color				:	black;
	border-top-style: inset;
	
}

/*###################################################################################

	Recherche

###################################################################################*/
@font-face
 {
	font-family: "Trouvez votre hébergement pour des vacances de rêve";
	src: url("/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff");
}
  



#id_recherche
{
	background-color: white;
	color: black;	
}
.recherche_flex > site-search
{
display: flex;
}

#id_recherche button
{
	background-color: blue;
	color: white;
	font-size: small;
	padding: 6px 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}

#site-search
{
	font-size: large;
	margin: none; 
	
}

/*################################################################################

		Filtre

#################################################################################*/

.filtre
{
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	color: blue 
	
}

/*###################################################################################

	Hebergements

###################################################################################*/

#id_hebergement
{
	display: flex;
	justify-content			:space-betwen;
	background-color	:		white;
}

.bleu
{
	color: blue;
}

.grey
{
	color: gray;
}

/*###################################################################################*/

#bloc_hebergement
{
	width					:	65%;
	flex-wrap   			: 	wrap;

	display					: 	flex;
	flex-direction			: 	column;

	justify-content			: 	space-between;

	background-color		:#F2F2F2;
	margin-right			: 20px;
	border-radius			: 20px;

	padding-left			:	30px;
	padding-right			:	30px;

	padding-top				:	40px;
	padding-bottom			:	40px;

}

#bloc_hebergement > h3
{	
	margin-bottom			: 	25px;
}

.hebergement_triple
{
	display					: 	flex;
	flex-wrap   			: 	wrap;
    flex-direction			: 	row;
    justify-content			: 	space-between;

	margin-bottom			: 	24px;

	

.hebergement_triple > a
{
	text-decoration: none;
}

.hebergement_box
{

	width				: 	170px;
	height				:	200px;

	border-width		:	5px;
	border-color		:	white;
	border-radius		: 	20px;
	border-style		:	solid ;

	background-color	: white;

	overflow			: 	hidden;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.hebergement_image
{
	display				: 	flex;
	-width				: 	100%;
	-height				:	60%;
}

.hebergement_image > img
{
	height				:	110px;
	width				: 	100%;
	object-fit			: 	cover;
}

.hebergement_legende
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.hebergement_legende > p:nth-child(1) 
{
	color: black;
	font-weight:bold;	
	
}

.hebergement_legende > p:nth-child(2) 
{
	color: grey;
}

.hebergement_legende > p > span
{
	color: black;
	font-weight:bold;	
}

#bloc_hebergement > p
{
	-margin-top: 30px;
	-margin-bottom: 30px;
	-margin-left: 30px;
}


/*###################################################################################*/

#bloc_populaires
{
	width					:	30%;

	display					: 	flex;
	flex-direction			: 	column;
	-flex-wrap   			: 	wrap;
	border-radius			: 	20px;
	background-color		:	#F2F2F2;
	
	padding-left			:	30px;
	padding-right			:	30px;

	padding-top				:	40px;
	padding-bottom			:	40px;
}

#bloc_populaires > h3
{
	margin-bottom: 25px;
}

.populaires_flex
{

	height: 100%;

	display					: 	flex;
	flex-direction			: 	column;
	justify-content			:	space-between;

}

-#bloc_populaires > div
{
    display					: 	flex;
	flex-direction			: 	column;
	justify-content:flex-start

}

#bloc_populaires > div > a
{
	text-decoration: none;
	-margin-top: 20px;
	-margin-bottom: 20px;
}

.populaires_box
{
	width				: 	280px;
	height				:	140px;

	border-width		:	5px;
	border-color		:	white;
	border-radius		: 	20px;
	border-style		:	solid ;

	background-color	: white;

	overflow			: 	hidden;
	-margin				: 	10px;

    display				: 	flex;
    justify-content		: 	flex-start;
	
}

.populaires_image
{
	display				: 	flex;
	
}

.populaires_image > img
{
	height				:	100%;
	width				: 	120px;
	object-fit			: 	cover;
}

.populaires_legende
{
	margin-left			:	20px;

	display				: flex;
	flex-direction		: column;
	justify-content		: space-evenly;
	height				: 100%;
}

.populaires_legende > p:nth-child(1) 
{
	color				: black;
	font-weight			:bold;	
}

.populaires_legende > p:nth-child(2) 
{
	color: 				grey;
}

.populaires_legende > p:nth-child(3) 
{
	color: 				grey;
	padding-top: 20px;
}

.populaires_legende > p > span
{
	color				:black;
	font-weight			:bold;	
}

/*###################################################################################

	Activités

###################################################################################*/

#id_activites
{
	background-color	:	white;
	padding-bottom		: 	20px;
	padding-top			: 	20px;

}

/*#################################################################################*/

#id_activites_flex
{
	display					: 	flex;
	background-color		:	white;
	justify-content			: 	space-between;
	padding-top				: 	15px;	
}

.activites_flex
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;
	margin					: 	10px;
	height: 280px;
 }	

.activites_flex img
{
	-background-color		:	white;
	-border					: 	5px solid #F2F2F2;
	-border-radius			: 	20px;
	height					: 	250px;
	width					: 	210px	
}	

.activites_double 
{
		display					: flex;
	flex-flow				: column;
	width					: 210px;	
}

.activites_double img
{
	background-color		:	white;
	-border					: 	5px solid #F2F2F2;
	-border-radius			: 	20px;
	height					: 	100px;
	width					: 	210px;	
	object-fit				: 	cover;
}

.activites_double_pomegues
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;
	margin-bottom			:  	10px;
	margin-top				: 	10px;
}

.activites_double_frioul
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;	
	object-fit				: 	cover;
	margin-top: 25px;
	-margin-bottom: 5px;
}

.activites_double_frioul img
{
	height: 80px;
}

.activites_double_notredame-lagarder
{
	height: 110px;	
}

.activites_double_lagarde
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;	
	margin-top				:	5px;	
	height: 125px;
	-margin-bottom: 30px;
		
}

.activites_double_lagarde img
{
	height: 90px;
}

.activites_double_longchamp
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;			
	object-fit				: 	cover;
	margin-top				: 	50px;
}

#id_activites_flex div p
{
	display					:	table-cell;
	vertical-align			: 	middle;
	font-weight				: 	bold;
	font-size				: 	14px;
	height					: 	25px;
	padding-left       		:	15px;
}

#activites_flex > p
{
	
}


/*###################################################################################

	Footer

###################################################################################*/


#id_footer
{
	-width: 1000px;
	
	-padding: auto;
} 

footer
{
	background-color		: #F2F2F2;
	padding-top 			: 20px;
	padding-bottom			: 20px;
	-margin-left: 250px;
	-margin-right: 250px;
	
}

footer table
{
	width				:	65%;
	margin-left 		: 	auto;
	margin-right 		: 	auto;
	
}

footer table td
{
	width				:	33%;
	vertical-align		: 	top;	
}

footer p
{
	font-weight			: 	bold;
}

footer ul
{
	list-style-type		: 	none;
	
}

footer li
{
	margin-top 			:	10px;
	
}

footer a
{
	color				:	gray;
	text-decoration     : 	none;

	min-width			:	200px;
	padding-right		:	20px;
	padding-top 		:	10px;
	padding-bottom		:	10px;
}

footer a:hover
{
	color				:	blue;
}

/*###################################################################################*/
