
/*###################################################################################*/

*
{
	margin					:	0 0 0 0;
	padding					:	0 0 0 0;
}


/*###################################################################################*/

#id_container
{
	width 					: 	1000px;
	margin-left 			: 	auto;
	margin-right 			: 	auto;	
}

/*###################################################################################

	Header

###################################################################################*/

@font-face
{
	font-family: "Raleway";
	src: url("Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

body
{
	font-family				: 	Raleway;
	font-size				:	14px;	
} 

header
{
	display					: 	flex;
	justify-content			:	space-between;
}

header nav
{
	margin-top				:	55px;
	border-top-color		: #DEEBFF;
}

header nav > ul
{
	display					: flex;
}

header a
{
	color					:	#DEEBFF;
	color					:	#0065FC;
	border-top				:	#0065FC ;
	text-decoration			: 	none;
	min-width				:	100px;
	padding-left			:	15px;
	padding-right			:	15px;
	padding-top 			:	30px;
	padding-bottom			:	5px;
}

header a:hover
{
	color					:	black;
	border-top-style		: 	inset;
	border-top-style		:	solid
}

/*###################################################################################

	Recherche

###################################################################################*/

#id_recherche
{
	background-color			: 	white;	
	margin-top					: 	10px;
	margin-bottom				: 	10px;
}

#id_recherche > h2
{	
	font-family					: 	Raleway; 
	font-size					: 	18px;
}

#id_recherche > h3
{
	margin-top					: 	10px;
	margin-bottom				: 	10px;
	color						:	gray;
	font-family					: 	Raleway; 
	font-size					: 	14px;
}

.recherche_flex
{
	display						: 	flex;
	justify-content				:	left; 
	align-items					: 	stretch;
	height						: 	40px;
}

.recherche_flex div
{
	display						: 	flex;
	align-items					: 	center;


	background-color			: 	#F2F2F2;
	-color						: 	black;
	font-size					: 	small;
	padding-left				: 	15px;
	padding-right				: 	5px;
	border-top-left-radius		: 	8px;
	border-bottom-left-radius	: 	px;
	border-color				: 	#F2F2F2;
	border-style				: 	solid;

}

.recherche_flex input
{
	background-color			: 	white;
	color						: 	black;
	font-size					: 	small;
	padding-left				: 	10px;
	padding-right				: 	10px;
	border-style				: 	solid;
	border-color				: 	#F2F2F2;
	border-width				:	2px;
	border-left-width			:	0px;
	border-right-width			:	0px;
	


}

.recherche_flex > button
{
	background-color			:	#0065FC;
	color						: 	white;
	font-size					:	 small;
	padding-left				: 	10px;
	padding-right				: 	10px;
	font-family					:	Raleway;
	font-weight					:	Bold;
	border-top-right-radius		: 	8px;
	border-bottom-right-radius	: 	8px;
	border-color				:	#0065FC;
	border-style				: 	solid;
}

#site-search
{
	font-size					: 	20px;
	margin						: 	0px; 
	padding						: 	0px;
	border-top-left-radius		: 	8px;
	border-bottom-left-radius	: 	8px;	
}

/*################################################################################

		Filtre

#################################################################################*/

#id_filtres
{
	display						: 	flex;
	justify-content				:	left; 
	align-items					: 	center;
	margin-top					: 	20px;
}

#id_filtres span
{
	font-family					: 	Raleway; 
	font-weight					:	bold;	
	color						: 	black;
	margin-right				: 	20px;
}

.etiquettes
{
	display						: 	flex;
	justify-content				:	left; 
	flex-wrap					: 	wrap;
	color						: 	#0065FC ;
}

.etiquettes div
{
	padding: 0px;
	margin: 0px;

	border-color				:	#F2F2F2;
	border-style				: 	solid;
	border-width				: 	4px;
	border-radius				: 	200px;
	margin-right				: 	20px;	
}

#id_filtres  i
{
	background-color			: 	#DEEBFF ;
	border-style				: 	solid;
	border-color				:	#DEEBFF  ;
	border-width				: 	10px;
	border-radius				: 	20px;
}

#id_filtres  a
{
	padding-left				: 	10px;
	padding-right				:	 20px;
	font-family					:	 Raleway; 
	font-weight					:	bold;	
	color						: 	black;
	text-decoration				:	 none;
}

#id_filtres  a:hover
{
	padding						:	14px 25px;
	border-top-style			:	unset
}

.logements
{
	display						: 	flex;
	justify-content				:	left; 
	align-content				: 	center;
	align-items					: 	center;	
	color						:	 black;
	margin-top					: 	20px;
	margin-bottom				: 	20px;	
}

.logements > i
{
	display						: 	flex;
	justify-content				:	center; 
	align-content				: 	center;
	align-items					: 	center;

	width						:	20px;
	height						:	20px;

	color						:	#0065FC;
	border-color				:	#F2F2F2 ;
	border-style				: 	solid;
	border-width				: 	2px;
	border-radius				: 	15px;
	
}

.logements > p
{
	margin-left					:	 10px;
	color						:	gray;
	font-weight					:	 bold;
}

/*###################################################################################

	Hebergements

###################################################################################*/

#id_hebergement
{
	display						:	 flex;
	justify-content				:	space-betwen;
	background-color			:	white;
}

.bleu
{
	color						:	#0065FC;
}

.grey
{
	color						: 	#F2F2F2;
}

/*###################################################################################*/

#bloc_hebergement
{
	width						:	65%;
	flex-wrap   				: 	wrap;
	display						: 	flex;
	flex-direction				: 	column;
	justify-content				: 	space-between;
	background-color			:	#F2F2F2;
	margin-right				: 	20px;
	border-radius				: 	20px;
	padding-left				:	30px;
	padding-right				:	30px;
	padding-top					:	40px;
	padding-bottom				:	40px;

}

#bloc_hebergement > h3
{	
	margin-bottom				: 	25px;
}

.hebergement_triple
{
	display						: 	flex;
	flex-wrap   				: 	wrap;
    flex-direction				: 	row;
    justify-content				: 	space-between;
	margin-bottom				: 	24px;

}
.hebergement_triple > a
{
	text-decoration				: none;
}

.hebergement_box
{
	width						: 	170px;
	height						:	200px;
	border-width				:	5px;
	border-color				:	white;
	border-radius				: 	20px;
	border-style				:	solid ;
	background-color			: 	white;
	overflow					: 	hidden;
    display						: 	flex;
    flex-direction				: 	column;
    justify-content				: 	flex-start;
}

.hebergement_image
{
	display						: 	flex;
	
}

.hebergement_image > img
{
	height						:	110px;
	width						: 	100%;
	object-fit					: 	cover;
}

.hebergement_legende
{
	display						: 	flex;
	flex-direction				: 	column;
	justify-content				: 	space-evenly;
	height						: 	100%;
}

.hebergement_legende > p:nth-child(1) 
{
	color						: 	black;
	font-weight					:	bold;	
	font-family					: 	Raleway; 
}

.hebergement_legende > p:nth-child(2) 
{
	color						:	grey;
}

.hebergement_legende > p > span
{
	color						: 	black;
	font-weight					:	bold;	
}

#bloc_hebergement > p
{
	font-weight					:	bold;
	font-family					: 	Raleway;
}


/*###################################################################################*/

#bloc_populaires
{
	width					:	30%;
	display					: 	flex;
	flex-direction			: 	column;
	border-radius			: 	20px;
	background-color		:	#F2F2F2;
	padding-left			:	30px;
	padding-right			:	30px;
	padding-top				:	40px;
	padding-bottom			:	20px;
}

.populaires_graphe
{
	display					: 	flex;
	justify-content			:	space-between;
	margin-bottom			: 	30px;
	margin-bottom			: 	30px;
}

#bloc_populaires > h3
{
	margin-bottom			: 	25px;
}

.populaires_flex
{
	height: 85%;
	display					: 	flex;
	flex-direction			: 	column;
	justify-content			:	space-between;
	
}

#bloc_populaires > div > a
{
	text-decoration			: 	none;
}

.populaires_box
{
	width					: 	280px;
	height					:	120px;
	border-width			:	5px;
	border-color			:	white;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;
    display					: 	flex;
    justify-content			: 	flex-start;
	
}

.populaires_image
{
	display					: 	flex;
}

.populaires_image > img
{
	height					:	100%;
	width					: 	100px;
	object-fit				: 	cover;
}

.populaires_legende
{
	margin-left				:	20px;
	display					: 	flex;
	flex-direction			:	 column;
	justify-content			: 	space-evenly;
	height					: 	100%;
}

.populaires_legende > p:nth-child(1) 
{
	color					: 	black;
	font-weight				:	bold;	
}

.populaires_legende > p:nth-child(2) 
{
	color					: 	grey;
}

.populaires_legende > p:nth-child(3) 
{
	color					: 	grey;
	padding-top: 20px;
}

.populaires_legende > p > span
{
	color					:	black;
	font-weight				:	bold;	
}

/*###################################################################################

	Activités

###################################################################################*/

#id_activites
{
	background-color		:	white;
	padding-bottom			: 	20px;
	padding-top				: 	20px;
}

/*#################################################################################*/

#id_activites_flex
{
	display					: 	flex;
	justify-content			: 	space-between;
	background-color		:	white;
	padding-top				: 	15px;	
}

.activites_simple
{
	display					: 	flex;
	flex-flow				:	 column;
}

.activites_double 
{
	display					: 	flex;
	flex-flow				: 	column;
	justify-content			:	space-between;
}

.activites_box
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: 	white;
	overflow				: 	hidden;

}

.activites_box img
{
	width					: 	210px;
	height					: 	280px;
	object-fit				:	cover;
}

.activites_box_60 img
{
	height					: 	110px;
}

.activites_box_40 img
{
	height					: 	80px;
}

#id_activites_flex a
{
	color					: 	black;
	font-family				: 	Raleway;
	text-decoration			: 	none;
}

#id_activites_flex p
{
	display					:	table-cell;
	vertical-align			: 	middle;
	font-weight				: 	bold;
	font-size				: 	14px;
	padding-left       		:	15px;
	height					: 	25px;
}

/*###################################################################################

	Footer

###################################################################################*/

footer
{
	width					: 	1050px;
	margin-left 			: 	auto;
	margin-right 			: 	auto;
	padding-bottom			: 	40px;
	display					: 	flex;
	background-color		: 	#F2F2F2;
}

footer div
{
	width					: 	300px;
	margin-left				: 	40px;
	margin-top	 			:	40px;
}

footer p
{
	font-weight				:	 bold;
}

footer ul
{
	list-style-type			: 	none;
}

footer li
{
	margin-top 				: 	10px;	
}

footer a
{
	color					: 	gray;
	text-decoration     	: 	none;
	padding-top 			: 	10px;
	padding-bottom			: 	10px;
}

footer a:hover
{
	color					:	#0065FC;
}

/*###################################################################################*

	Media queries

#####################################################################################*/


@media all and (max-width: 1024px)

{

	#id_container
	{
		width 					: 	80%;		
	}

 	header
	{
		justify-content			: 	space-between;
		margin-bottom			:	20px;
	}

	header nav
	 {
		margin-top				: 	20px;
		border-top				:	none;
		
	}

	header nav > ul
	{
		display					: 	flex;
		flex-wrap				: 	wrap-reverse;
	}

	#id_container header img 
	{
		width					: 	min-content;
	}

	 .header_hebergement
	{
		
		margin-top				: 	30px;	
		color					: 	black;
		border-bottom			:	solid;
		border-color			:	#F2F2F2;
		font-weight				: 	bold;
		padding-bottom			: 	5px;
	}

	.header_activites
	{
		
		margin-top				: 	30px;
		color					:	 black;
		border-bottom			:	solid;
		border-color			:	#F2F2F2;
		font-weight				:	 bold;
		padding-bottom			: 	5px;
		
	}

	.header_inscrire 
	{
		margin-left				: 	125px;
		margin-top				: 	30px;
		font-weight				:	bold;	
	}

	.header_inscrire a
	{
		color					:	#0065FC;
	}

	header a 
	{
		color					: 	black;
	}

	header a:hover
	{
	color						:	#0065FC;
	border-bottom-style			: 	inset;
	border-bottom-style			:	solid;
	border-top-style			:	none;
	border-top-style			:	none;
	}

 /*********************************************************/

 	.recherche_flex > button 
	 {
		 width					: 	40%;
	 }

	 .recherche_flex input 
	 {
		width					: 	50%;
	 }
	

 	#id_recherche > h3
	{
		margin-bottom			: 	30px;
	}

	#id_filtres span
	 {
		 margin-bottom			: 	20px;
	 }

	#id_filtres 
	{
		flex-direction			: 	column;
		align-items				:	flex-start;
	}

	.logements
	{
		margin-top				: 	30px;
		margin-bottom			: 	30px;
	}

 /***********************************************************/

	#id_hebergement
	{
		flex-direction: column-reverse;
	}

	#bloc_hebergement
	{
		width					:	100%;
		background-color		: 	white;
		padding-left			:	0px;
	}

	#bloc_hebergement > p
	{
		margin-top				: 	20px;
	}

	.hebergement_box
	{
		border-color			:	#F2F2F2;
		width					: 	100%;
		margin-bottom			: 	10px;
	}

	.hebergement_triple
	{
		flex-direction			:	column;
		align-items				:	center;
		margin-bottom			: 	0px;	
	}

	.hebergement_triple > a
	{
		width					:	100% ;
	}
	.recherche_flex
	{
		margin-top				: 	10px;
		margin-bottom			: 	30px;
	}

 /***************************************************************/

	#bloc_populaires
	{
		width					: 	90%;
		border-radius			:	0px;	
	}	

	.populaires_flex
	{
		width					: 	100%;
		display					: 	flex;
		justify-content			:	space-between;
	}

	.populaires_flex a 
	{
		margin-bottom			: 	10px;
	}
										
	.populaires_box
	{
		width					: 	100%;
	}

 /******************************************************************/

 	#id_activites
	 {
		width					: 100%;
	 }	
 
 	#id_activites_flex
	{
		flex-direction			: column;
		align-items				: center;
	}

	.activites_box
	{
		width					: 100%;
		margin-bottom			: 10px;
	}

	.activites_box img
	{
		width					: 100%;
		height					: 150px;	
	}	
		
	.activites_simple 
	{
		width					: 100%;	
		margin-bottom			: none;
	}

	.activites_double
	{
		width					: 100%;
	}
 /*****************************************************************/	
	
 	footer 
	{
		width					: 	100%;
		flex-direction			: 	column;
	}

}


