
/*###################################################################################*/

*
{
	margin				:	0 0 0 0;
	padding				:	0 0 0 0;
}

/*###################################################################################*/

#id_container {

	width 				: 	1000px;
	margin-left 		: 	auto;
	margin-right 		: 	auto;

	background-color	:	white
}

/*###################################################################################

	Header

###################################################################################*/

@font-face
{
	font-family: "Raleway";
	src: url("Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

body
{
	font-family			: 	Raleway;
	font-size			:	14px;
	-font-weight			: 	bold;
} 

header
{
	display				: 	flex;
	justify-content		:	space-between;
	
}

header nav
{
	margin-top			:	55px;
	border-top-color	: #DEEBFF;
}

header a
{
	color				:	#DEEBFF;
	color				:	#0065FC;
	border-top			:	#0065FC ;
	text-decoration		: 	none;
	min-width			:	100px;
	padding-left		:	15px;
	padding-right		:	15px;
	padding-top 		:	30px;
	padding-bottom		:	5px;
}


header a:hover
{
	color				:	black;
	border-top-style: inset;
	
}

/*###################################################################################

	Recherche

###################################################################################*/

#id_recherche
{
	background-color			: white;
	-color						: black;	
	margin-top					: 10px;
	margin-bottom				: 10px;
}

#id_recherche > h2
{
	font-family					: Raleway; 
	font-size					: 18px;
}

#id_recherche > h3
{
	margin-top					: 10px;
	margin-bottom				: 10px;
	color						:gray;
	font-family					: Raleway; 
	font-size					: 14px;
}

.recherche_flex
{
	display						: 	flex;
	justify-content				:	left; 
	-align-content				: 	center;
	align-items					: 	stretch;
	
	height						: 	40px;
}

.recherche_flex div
{
	display						: 	flex;
	align-items					: 	center;


	background-color			: #F2F2F2;
	-color						: black;
	font-size					: small;
	padding-left				: 15px;
	padding-right				: 15px;

	border-top-left-radius		: 8px;
	border-bottom-left-radius	: 8px;
	border-color				: #F2F2F2;
	border-style				: solid;

}

.recherche_flex input
{
	background-color			: white;
	color						: black;
	font-size					: small;

	padding-left				: 10px;
	padding-right				: 10px;

	border-style				: solid;
	border-color				: #F2F2F2;
	-border-color				: grey;
	border-width				: 	2px;
	border-left-width			:	0px;
	border-right-width			:	0px;
	-border-top					: 8px;
	-border-bottom				: 8px;
	-border-left					: 8px;
	-border-right					: 8px;


}

.recherche_flex > button
{
	background-color			:#0065FC;
	color						: white;
	font-size					: small;
	padding-left				: 10px;
	padding-right				: 10px;
	font-family					: Bold;
	font-weight					: Raleway;
	

	border-top-right-radius		: 8px;
	border-bottom-right-radius	: 8px;
	border-color				:#0065FC;
	border-style				: solid;
}

#site-search
{
	font-size					: 20px;
	margin						: 0px; 
	padding						: 0px;
	border-top-left-radius		: 8px;
	border-bottom-left-radius	: 8px;	
}

/*################################################################################

		Filtre

#################################################################################*/

#id_filtres

{
	display						: 	flex;
	justify-content				:	left; 
	align-content				: 	center;
	align-items					: 	center;


	margin-top					: 20px;
	color						: #0065FC ;
}

#id_filtres  div
{
	padding: 0px;
	margin: 0px;

	border-color	:	#F2F2F2;
	border-style	: 	solid;
	border-width	: 	4px;
	border-radius	: 	200px;
	margin-right	: 	20px;	
}

#id_filtres span
{
	font-family: Raleway; 
	font-weight:bold;	
	color: black;

	margin-right: 20px;
}

#id_filtres  i
{
	background-color: #DEEBFF ;
	border-style: solid;
	border-color:#DEEBFF  ;
	border-width: 10px;
	border-radius: 20px;
}

#id_filtres  a
{
	padding-left: 10px;
	padding-right: 20px;

	font-family: Raleway; 
	font-weight:bold;	
	color: black;
	text-decoration				: none;
}

#id_filtres  a:hover
{
	-background-color: lightgreen;
	padding: 14px 25px;
	-border: 2px solid green;
	border-top-style:unset
	
  
}

.logements
{
	display						: 	flex;
	justify-content				:	left; 
	align-content				: 	center;
	align-items					: 	center;
	
	color						: black;
	margin-top					: 20px;
	margin-bottom				: 20px;	
	
}

.logements > i
{
	color						:#0065FC;
	border-style				: solid;
	border-color				:#F2F2F2 ;
	border-width				: 15px;
	border-radius				: 80px;
	font-size					:xx-small;
	
}

.logements > p
{
	margin-left					: 10px;
	color						:gray;
	font-weight					: bold;
}

/*###################################################################################

	Hebergements

###################################################################################*/

#id_hebergement
{
	display						: flex;
	justify-content				:space-betwen;
	background-color			:white;
}

.bleu
{
	color						:#0065FC;
}

.grey
{
	color						: #F2F2F2;
}

/*###################################################################################*/

#bloc_hebergement
{
	width					:	65%;
	flex-wrap   			: 	wrap;

	display					: 	flex;
	flex-direction			: 	column;

	justify-content			: 	space-between;

	background-color		:#F2F2F2;
	margin-right			: 	20px;
	border-radius			: 	20px;

	padding-left			:	30px;
	padding-right			:	30px;

	padding-top				:	40px;
	padding-bottom			:	40px;

}

#bloc_hebergement > h3
{	
	margin-bottom			: 	25px;
}

.hebergement_triple
{
	display					: 	flex;
	flex-wrap   			: 	wrap;
    flex-direction			: 	row;
    justify-content			: 	space-between;

	margin-bottom			: 	24px;
}
.hebergement_triple > a
{
	text-decoration: none;
}

.hebergement_box
{

	width					: 	170px;
	height					:	200px;

	border-width			:	5px;
	border-color			:	white;
	border-radius			: 	20px;
	border-style			:	solid ;

	background-color		: white;

	overflow				: 	hidden;


    display					: flex;
    flex-direction			: column;
    justify-content			: flex-start;

}

.hebergement_image
{
	display					: 	flex;
	-width					: 	100%;
	-height					:	60%;
}

.hebergement_image > img
{
	height					:	110px;
	width					: 	100%;
	object-fit				: 	cover;
}

.hebergement_legende
{
	display					: flex;
	flex-direction			: column;
	justify-content			: space-evenly;
	height					: 100%;
}

.hebergement_legende > p:nth-child(1) 
{
	color					: black;
	font-weight				:bold;	
	font-family				: Raleway; 
}

.hebergement_legende > p:nth-child(2) 
{
	color					: grey;
}

.hebergement_legende > p > span
{
	color					: black;
	font-weight				:bold;	
}

#bloc_hebergement > p
{
	font-weight				:bold;
	font-family				: Raleway;
}


/*###################################################################################*/

#bloc_populaires
{
	width					:	30%;

	display					: 	flex;
	flex-direction			: 	column;
	-flex-wrap   			: 	wrap;
	border-radius			: 	20px;
	background-color		:	#F2F2F2;
	
	padding-left			:	30px;
	padding-right			:	30px;

	padding-top				:	40px;
	padding-bottom			:	20px;
}

.populaires_graphe
{
	display					: flex;
	justify-content			: space-between;
	margin-bottom			: 30px;
	margin-bottom			: 30px;
}


#bloc_populaires > h3
{
	margin-bottom: 25px;
}

.populaires_flex
{

	height: 85%;

	display					: 	flex;
	flex-direction			: 	column;
	justify-content			:	space-between;
	
}

#bloc_populaires > div > a
{
	text-decoration: none;
	-margin-top: 20px;
	-margin-bottom: 20px;
}

.populaires_box
{
	width				: 	280px;
	height				:	120px;
	border-width		:	5px;
	border-color		:	white;
	border-radius		: 	20px;
	border-style		:	solid ;

	background-color	: white;

	overflow			: 	hidden;
	-margin				: 	10px;

    display				: 	flex;
    justify-content		: 	flex-start;
	
}

.populaires_image
{
	display				: 	flex;
	
}

.populaires_image > img
{
	height				:	100%;
	width				: 	120px;
	object-fit			: 	cover;
}

.populaires_legende
{
	margin-left			:	20px;

	display				: flex;
	flex-direction		: column;
	justify-content		: space-evenly;
	height				: 100%;
}

.populaires_legende > p:nth-child(1) 
{
	color				: black;
	font-weight			:bold;	
}

.populaires_legende > p:nth-child(2) 
{
	color: 				grey;
}

.populaires_legende > p:nth-child(3) 
{
	color: 				grey;
	padding-top: 20px;
}

.populaires_legende > p > span
{
	color				:black;
	font-weight			:bold;	
}

/*###################################################################################

	Activités

###################################################################################*/

#id_activites
{
	background-color	:	white;
	padding-bottom		: 	20px;
	padding-top			: 	20px;

}

/*#################################################################################*/

#id_activites_flex
{
	display					: 	flex;
	background-color		:	white;
	justify-content			: 	space-between;
	padding-top				: 	15px;	
}

.activites_flex
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;
	margin					: 	10px;
	height: 280px;
 }	

.activites_flex img
{
	-background-color		:	white;
	-border					: 	5px solid #F2F2F2;
	-border-radius			: 	20px;
	height					: 	250px;
	width					: 	210px	
}	

.activites_double 
{
	display					: flex;
	flex-flow				: column;
	width					: 210px;	
}

.activites_double img
{
	background-color		:	white;
	-border					: 	5px solid #F2F2F2;
	-border-radius			: 	20px;
	height					: 	100px;
	width					: 	210px;	
	object-fit				: 	cover;
}

.activites_double_pomegues
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;
	margin-bottom			:  	10px;
	margin-top				: 	10px;
}

.activites_double_frioul
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;	
	object-fit				: 	cover;
	margin-top: 25px;
	-margin-bottom: 5px;
}

.activites_double_frioul img
{
	height: 80px;
}

.activites_double_notredame-lagarder
{
	height: 110px;	
}

.activites_double_lagarde
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;	
	margin-top				:	5px;	
	height: 125px;
	-margin-bottom: 30px;
		
}

.activites_double_lagarde img
{
	height: 90px;
}

.activites_double_longchamp
{
	border-width			: 	5px;
	border-color			:	#F2F2F2;
	border-radius			: 	20px;
	border-style			:	solid ;
	background-color		: white;
	overflow				: 	hidden;			
	object-fit				: 	cover;
	margin-top				: 	50px;
}

#id_activites_flex div > p
{
	display					:	table-cell;
	vertical-align			: 	middle;
	font-weight				: 	bold;
	font-size				: 	14px;
	height					: 	25px;
	padding-left       		:	15px;
	
}

.activites_flex  p
{
	color: black;
	font-family: Raleway;
	text-decoration: none;
}


/*###################################################################################

	Footer

###################################################################################*/


#id_footer
{
	display					: flex;
	width					: 1050px;
	padding-left			: 50px;
	margin-left 			: auto;
	margin-right 			: auto;
} 

footer
{
	background-color		: #F2F2F2;
	padding-top 			: 20px;
	padding-bottom			: 20px;
	
}

.Hébergements
{
	padding-left			: 150px;
	padding-right			: 150px;
}

footer p
{
	font-weight				: bold;
}

footer ul
{
	list-style-type			: none;
}

footer li
{
	margin-top 				: 10px;	
}

footer a
{
	color					: gray;
	text-decoration     	: none;
	min-width				: 200px;
	padding-right			: 20px;
	padding-top 			: 10px;
	padding-bottom			: 10px;
}

footer a:hover
{
	color				:	#0065FC;
}

/*###################################################################################*/
